
.titulo {
  font-size: 70px;
}

.title-a {
  font-size: 24px;
}

.guitarras {
    color:#1f313c;
}

.guitarras h2 {
font-size: 35px;
}

.title-b {
  font-size: 50px;
}

.portada {
  background: url("../img/background.png") #000;
  color: #fff;
}

.menu {
  font-size: 24px;
}
